#root {
    width: 100%;
    height: 100%;

}

h2 {
    width: 100%;
    text-align: center;
    color: #000d9c;
}

.component {
    display: flex;
    flex-direction: row;
}

#wholeWeb {
    width: 100%;
    display: flex;
    flex-direction: row;
}